// fonts
@font-face {
  font-family: "Muli-Bold";
  src: url(../fonts/Muli-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "Muli-BoldItalic";
  src: url(../fonts/Muli-BoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Muli-ExtraBold";
  src: url(../fonts/Muli-ExtraBold.ttf);
  font-weight: 800;
}

@font-face {
  font-family: "Muli-Italic";
  src: url(../fonts/Muli-Italic.ttf);
}

@font-face {
  font-family: "Muli-Regular";
  src: url(../fonts/Muli-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: "Muli-Semi-BoldItalic";
  src: url(../fonts/Muli-Semi-BoldItalic.ttf);
}